body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(images/money.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);

}

.button:hover{
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));

}